/* t_detail css*/
body{
	display: flex; 
	flex-flow: column; 
	min-height: 100vh; 
	padding: 0; 
	margin: 0;
}

.dd{
	float: left; 
	height: 100px; 
	width: 100%; 
	display: inline-block;
}

#main{
	float: left; 
	width: 60%; 
	display: block; 
	flex: 1;
}

.present_location{
	color:gray; 
	font-weight: 700; 
	text-align: left;
}

.where{
	width: 22px; 
	height: 22px; 
	margin-bottom: 8px;
}

.float-right {
	float: right;
}

.board_btn {
	height: 40px; 
	float: left; 
	margin-right: 10px;
}

.board_main{
	float:left; 
	width:100%; 
	display: block; 
	text-align: center;
}

.page_title{
	font-weight: 700;
	margin-top: 20px;
}

.board_dd{
	position: relative; 
	text-align: center;
}

.board_date_line{
	content: '';
	display: block;
	clear: both;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 12px;
	z-index: 1;
	height: 1px;
	background-color: #ddd;
}

.board_date{
	position: relative; 
	z-index: 2; 
	display: inline-block; 
	background-color: white; 
	padding: 0 10px 0 10px;
}

.board_screen{
	float: left; 
	height:500px; 
	width:100%; 
	display: inline-block;
	margin-bottom: 30px;
}

.left_null{
	float: left; 
	width:20%; 
	height:100%;
}

.right_null{
	float: right; 
	width:20%; 
	height:100%;
}

.board_img{
	float:left; 
	width:60%; 
	display: inline-block;
}

.img{
	width:100%; 
	height:500px;
	border-radius:20px;
}

.content{
	font-family: 견고딕; 
	font-size: 12pt; 
	display: inline-block;
	width: 800px; 
	text-align: left;
}

.detail{
	text-align: left; 
	width: 800px; 
	display: inline-block; 
	margin: 35px 0px 0px 0px;
}

.detail_dl{
	position: relative;
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.detail_dt{
	position: absolute;
	display: inline-block;
    left: 0px;
    top: 10px;
    z-index: 1;
    width: 200px;
    font-size: 18px;
    color: #222;
    font-weight: 700;
}

.detail_dd{
	dispaly: inline-block;
	width:600px;
	font-size: 18px;
	font-weight: 300;
	margin-left: 200px;
	font-weight: 500;
}

.website{
	text-decoration: none;
   	color: #666;
}

.bottom_line{
	position: relative; 
	text-align: center; 
	margin: 0px 0px 50px 0px;
}

.map{
	width:1000px; 
	height:500px; 
	display:inline-block; 
	justify-content:center;
}

a{
	text-decoration-line: none;
}

.btn{
	display: block;
    font-size: 14px;
    color: #767676;
    font-weight: 300;
    border: solid 1px #d9d9d9;
    background-color: #fff;
    line-height: 37px;
    padding: 0px 12px;
    border-radius: 4px;
    text-align: center;
    width: 100px;
}

.btn:hover{
	color: #fff;
    background-color: #999;
}

.rounded-circle{
	border-radius: 50%!important;
	padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    width: 48px;
   	height: 48px;
}

.rounded-circle:hover{
	border-color: var(--light);
}