@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


body {
	display:flex; 
	flex-flow:column; 
	min-height:100vh; 
	padding:0; 
	margin:0;
}

.seoul-background {
    height: 1059px;
    background: url(/event/img/seoul.jpg) fixed no-repeat;
    padding:0; 
	margin:0;
	background-position: center;
}
.ddp-background {
	height: 700px;
    background: url(/event/img/ddp.jpg) fixed no-repeat;
    padding:0; 
	margin:0;
	background-position: center;
}	
.donuiumn-background {
	height: 1000px;
    background: url(/event/img/Donuimun.jpg) fixed no-repeat;
    padding:0; 
	margin:0;
	background-position: center;
}	

.sungnyemun-background {
	height: 960px;
    background: url(/event/img/Sungnyemun.jpg) fixed no-repeat;
    padding:0; 
	margin:0;
	background-position: center;
}

.sukjeongmun-background {
	height: 1138px;
    background: url(/event/img/sukjeongmun.jpg) fixed no-repeat;
    padding:0; 
	margin:0;
	background-position: center;
}

main {
	flex:1;
}

.intro .seodaemun .dondaemun {
	opacity: 0;
	animation-fill-mode: forwards;
}

footer{
	height: 30%;
}

@keyframes animate-in {
    from {
        opacity: 0;
    }
    to{
        opacity: 1 forwards;
    }
}

@keyframes animate-out {
    from{
        opacity: 1;
    } 
    to{
        opacity: 0 forwards;
    }   
}